@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&family=Montserrat:wght@400;600&display=swap');

.slider-wrap {
    font-family: 'IBM Plex Sans', sans-serif;
}
.carousel-item h1 {
    font-size: 60px;
    font-weight: 600;
}
.carousel-item .slider-title {
    font-size: 24px;
    font-weight: 400;
}
.carousel-item p {
    font-size: 18px;
    font-weight: 400;
}
.carousel-item button {
    background-color: #f9706a;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 700;
}
