@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&family=Montserrat:wght@400;600&display=swap');

.payment-area {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color:#f9706a;
}